.maindiv{
    background-color:white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    margin: auto;
	left: 0;
	right:0;
    top: 10;
    left: 0;
    }

.childdiv{
	width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
	}

.childdiv label {
  display: inline-block;
  width: 30%;
  text-align: left;
  }
  
body {
    background-color:black;
    font-family: Arial;
    color: white;
    }

h1{
    color:grey;
	font-family:Verdana, sans-serif;
	
    }


#result{
	display: none;
	}

#deposit{
	background-color: yellow;
	margin:0em;
	}
	
#rate_final{
	background-color: yellow;
	margin:0em;
	}
	
#amount{
	background-color: yellow;
	margin:0em;
	}
	
#future_years{
	background-color: yellow;
	margin:0em;
	}